.services_sided_icon {
  margin-top: 50px;
  position: relative;
}
.services_sided_icon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 356px;
  width: -webkit-fill-available;
  background-image: url(../images/shapesBg/serviceslist_bg-top.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: -1;
}
.services_sided_icon:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 356px;
  width: -webkit-fill-available;
  background-image: url(../images/shapesBg/serviceslist_bg-botom.webp);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.services_sided_icon .servicesHead {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: white;
}
.services_sided_icon p {
  text-align: center;
  color: white;
}
.services_sided_icon .headLinesImg {
  height: 44px;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services_sided_icon .servicesBox {
  box-shadow: 3px 2px 10px rgba(128, 128, 128, 0.4588235294);
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 30px;
  transition: 1s;
  background: white;
}
.services_sided_icon .servicesBox:hover {
  background: linear-gradient(120deg, #5828fa 0, #7119f1 20%, #8e06e6 100%);
  transition: 1s;
  box-shadow: 10px 16px 0px rgba(128, 128, 128, 0.4588235294);
}
.services_sided_icon .servicesBox:hover img {
  filter: unset !important;
  transition: 0.1s;
}
.services_sided_icon .servicesBox:hover .servicesContentBox h4 {
  color: white;
  transition: 0.1s;
}
.services_sided_icon .servicesBox:hover .servicesContentBox p {
  color: white;
  transition: 0.1s;
}
.services_sided_icon .servicesBox img {
  margin-top: 20px;
  filter: brightness(0%);
}
.services_sided_icon .servicesBox .servicesContentBox {
  margin-top: 30px;
  margin-bottom: 50px;
}
.services_sided_icon .servicesBox .servicesContentBox h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}
.services_sided_icon .servicesBox .servicesContentBox p {
  padding: 0;
  margin: 0;
  text-align: left;
  margin-top: 10px;
  color: black;
}
.services_sided_icon #servicesBoxActive {
  background: linear-gradient(120deg, #5828fa 0, #7119f1 20%, #8e06e6 100%);
  box-shadow: 10px 16px 0px rgba(128, 128, 128, 0.4588235294);
}
.services_sided_icon #servicesBoxActive img {
  filter: unset !important;
}
.services_sided_icon #servicesBoxActive .servicesContentBox h4 {
  color: white !important;
}
.services_sided_icon #servicesBoxActive .servicesContentBox p {
  color: white !important;
}

.serviceBox:hover button:focus, .serviceBox:hover button:hover {
  color: white;
  background-color: transparent;
  border-radius: 0 15px;
  border-color: white;
  background: black;
}
.serviceBox:hover button::before {
  content: "";
  background: linear-gradient(to right bottom, white 50%, transparent 51%);
  width: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.serviceBox:hover button:focus:before, .serviceBox:hover button:hover:before {
  width: 25px;
  height: 25px;
  opacity: 1;
  left: -2px;
  top: -2px;
}/*# sourceMappingURL=customerSatisfaction.module.css.map */