// COLORS =======================================
@import 'color';


.sliderBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 70px 0;
    h4{
        color: $headTxtColor;
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 13px;
    }
    p{
        text-align: center;
        line-height: 29px;
        font-weight: 400;
        font-size: 18px;
        margin-top: 10px;
    }
}