// COLORS ====================================
$backgorundLinear: linear-gradient(120deg, #5828fa 0, #7119f1 20%, #8e06e6 100%);
$TableBgLinear : linear-gradient(to top right, #7905c5 50%, #8e06e6 50%);
$bgYellowColor: yellow;
$textColorWhite: white;
$headTxtColor: #242f51;
$shadowColor: rgba(128, 128, 128, 0.4588235294);
$blueTxtColor:  #5828F9;
$paragraphColor: #4f4f4f;